<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Jets</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>

<body>
  Jets
  <table>
    <tr>
      <th>Ottelut</th>
      <th>Voitot</th>
      <th>Tasapelit</th>
      <th>Tappiot</th>
      <th>Pisteet</th>
      <th>Maaliero</th>
    </tr>
    <tr>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>3</td>
      <td>5-0</td>
    </tr>

  </table>
</body>

</html>