<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Jets</title>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>

<body>
    {{pageTitle}}
    <table>
        <thead>
            <tr>
                <th>Joukkueet</th>
                <th>Päivä</th>
                <th>Tulos</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let event of events'>
                <td>{{event.event.name}}</td>
                <td>{{event.event.start_at_day * 1000 + 86400000 | date}}</td>
                <td>{{event.event.score}}</td>
            </tr>
        </tbody>

    </table>
</body>

</html>